* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
 
body {
	background:#FFFFFA;
}
 
header {
	width:100%;
  font-size: 15px;
  text-align: center;
  position: fixed;
  top:-20px;
  left: 0;
  z-index: 100;
}
 
header nav {
	width:90%;
	max-width:100%;
	margin:20px auto;
	background:#024959;
}
 
.menu_bar {
	display:none;
}
 
header nav ul {
	overflow:hidden;
	list-style:none;
}
 
header nav ul li {
	float:left;
}
 
header nav ul li a {
	color:#fff;
	padding:20px;
	display:block;
	text-decoration:none;
}
 
header nav ul li span {
	margin-right:10px;
}
 
header nav ul li a:hover {
	background:#037E8C;
}
 
section {
	padding:20px;
}
 
@media screen and (max-width:800px ) {
	header nav {
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
	}
 
	header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}
	
 
	.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
	}
 
	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		background:#024959;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
 
	.menu_bar span {
		float:right;
		font-size:40px;
	}
}

/* CONTACTOOOS*/
.map-container-section {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container-section iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

/* GALERIA*/
.gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }

@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}
/*Reservas*/
#secReserva{
	margin:5%;
	position: absolute;
	border-style:solid;
	border-width:1px;
	width:80%;
	top:0%;
	right:5%
	
	
}
.rig{
	position: absolute;
	right:5%;
	
}
/*INDEX*/
#secIndex{
	position: absolute;
	width:100%;
	top:50px;
	right:0;
	}
	#asidIndex{
	position: absolute;
	
	width:22%;
	height: 43%;
	top:700px;
	right:8.5%;
	}
	


#derecha{
float:right;
}
article{
width: 70%;


}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
 
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title{
	color:white;
	font-size:100px;


}
#secGale{
position: absolute;
top:20%;
}
.video-youtube{
position: relative;

padding-bottom: 56.25%;
}
.video-youtube iframe{
	position:absolute;
	width: 50%;
	height: 50%;
	top:50%;
        float: center;
        left: 25%;
        
}
